*{
    padding: 0;
    margin: 0;
}
h1,
h2,
h3
{
    text-align: center;
    color: red;
}

body{
align-content: center;
    background: linear-gradient(to right, rgb(216, 216, 216), rgb(255, 255, 255), rgb(227, 227, 227));
    color:black;
}

nav{
    padding: 20px;
    display: block;
    text-decoration: none;
    width: 100%;
    background: rgb(2, 162, 255);
    
}
nav li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: white;
    
    
}
li a{
    align-items: flex-end;
    color: white;
    
}
ol a{
    text-decoration: none;
    display: block;
    color: red;
    padding-left: 10px;
    
    
}

header{
    width: 100%;
    
    background:  linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/img/Screenshot\ 2021-12-26\ 10-03-03.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50dvh;
}
p{
    text-align: center;
    font-size: xx-large;
    color: yellow;
    font-weight: bold;
}
footer{
  
    width: 100%;
    margin:0 auto;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 40px;
    font-size: 75%;
    border-top: 1px solid rgb(94,163,154);
    background: hsl(146, 97%, 12%);
    bottom: 0;
    
  
    
    
  } 
  