*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
align-content: center;
    background: linear-gradient(to right, rgba(189, 89, 8, 0.308), rgb(255, 255, 255), rgba(189, 117, 115, 0.432));
    color:black;
}

nav{
    padding: 10px;
    display: block;
    text-decoration: none;
    width: 100%;
    background: rgb(2, 162, 255);
    align-items: right;
    
}
nav ul{
    text-align: right;
}
nav li{
    display: inline-flex;
    text-decoration: none;
    
    font-size: larger;
    color: white;
    align-items: right;
    
    
}
li a{
    align-items: right;
    color: white;
    text-decoration: none;
    align-items: right;
    
}
ol a{
    text-decoration: none;
    display: block;
    color: red;
    padding: 5px;
    
    
}

header{
    width: 100%;
    
    background:  linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/img/Screenshot\ 2021-12-26\ 10-03-03.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50dvh;
}
p{
    text-align: center;
    font-size: xx-large;
    color: yellow;
    font-weight: bold;
}
footer{
  
    width: 100%;
    margin:0 auto;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 20px;
    font-size: 75%;
    border-top: 1px solid rgb(94,163,154);
    background: hsl(146, 97%, 12%);
    bottom: 0;
    
  
    
    
  } 
  