*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2
{
    color: black;
    align-items: center;
    text-align: center;
}
h4{
  color: red;
}
h3,

h5

{
    color:rgb(0, 0, 0);
}
h6{
  color: white;
}





nav{
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: right;
    padding: 20px;
    
}
nav ol{
    text-align: right;
    text-decoration: none;
    
}
nav li{
    display: block;
    text-decoration: none;
    
    font-size: medium bold;
    color: white;
    
    
}
li a{
     text-decoration: none;
    display: block;
    color: rgb(255, 0, 0);
    text-align: left;
    padding-left: 5px;
    font-size: larger;
 
}

contenido{
  width: 100%;
  background: rgba(255, 255, 255, 0.799);

}
.content {
    width: 90%;
    text-align: center;
    vertical-align:middle;
    
    color:inherit;
    padding:20px;
    margin:auto; 
    background: rgba(255, 255, 255, 0.799);
    
  }
  

.pageitem{
    width: 100%;
    text-decoration: none; 
    border-bottom:1px ;
    color:inherit; 
    text-align:justify; 
    border:#cccccca4 .02px solid;
    padding: 20px;
    margin:20px auto;
    transition:  0.5s ease-in;
    background: rgba(138, 138, 138, 0.242);
    background-size: cover;
    background-position: center;
   box-sizing: border-box;
  }
  
  .pageitem h2 {
    margin-bottom: 0;}
   
  
  .pageitem h3 {
    border-bottom: #ccc 1px dashed;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
    margin-top: 1%;}
    
  .pageitem ul.unordered {
  list-style: none;
  }
  
  .pageitem ul.unordered li:before {
  font-family: FontAwesome;
  content: "\f178";
   margin:0 5px 0 -15px;
  }
  .img{
    width: 100%;
  
  }
  .col{
    flex: 25%;
    padding: 5px;
  }
  .col-img{
    margin-top: 5px;
  }
  

ul a{
    text-decoration: none;
}
ol a{
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: larger;
    font-weight: 500;
    
}

header{
    width: 100%;
    
    background:  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(/img/Screenshot\ 2021-12-26\ 10-03-03.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50dvh;
}

p{
    text-align: left;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    
}



footer{
  
    width: 100%;
    margin:0 auto;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 14px;
    font-size: 75%;
    background: rgb(0, 0, 0) ;
    border:  rgb(2, 2, 120) 2px solid;
    bottom: 0;
  
    
    
  } 

  